---
import MainLayout from "../../layouts/MainLayout.astro";
import ArticleCard from "../../components/ArticleCard.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { capitalize } from "../../utils/functions";

const tag = Astro.url.searchParams.get("tag");
const articles: CollectionEntry<"blog">[] = (
  await getCollection("blog", (article) =>
    tag ? article.data.tags.includes(tag) : article
  )
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<MainLayout title="">
  <h1 class="pb-3 text-2xl">
    {tag ? capitalize(tag) : "All"} Articles
  </h1>
  <!-- Main Grid -->
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {articles.map((article) => <ArticleCard article={article} />)}
  </div>

  <!-- Pagination -->
  <div class="mt-10 flex justify-between">
    <a
      href="#"
      class="inline-block rounded-lg bg-indigo-100 px-3 py-2 hover:bg-indigo-600 hover:text-white"
    >
      Previous
    </a>
    <a
      href="#"
      class="inline-block rounded-lg bg-indigo-100 px-3 py-2 hover:bg-indigo-600 hover:text-white"
    >
      Next
    </a>
  </div>
</MainLayout>
