---
import type { CollectionEntry } from "astro:content";
import SearchForm from "../components/SearchForm.astro";
import MainLayout from "../layouts/MainLayout.astro";

import { getCollection } from "astro:content";
import ArticleCard from "../components/ArticleCard.astro";
import MostRecentArticle from "../components/MostRecentArticle.astro";

const allArticles: CollectionEntry<"blog">[] = (
  await getCollection("blog")
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const [mostRecentArticle, otherArticles] = [
  allArticles[0],
  allArticles.slice(1),
];
---

<MainLayout>
  <!-- Top Grid -->
  <section class="grid grid-cols-1 gap-5 lg:grid-cols-2">
    <aside>
      <h1 class="mb-8 mt-4 text-5xl font-bold leading-tight xl:text-6xl">
        Articles, Stories & Tutorials for Tech People
      </h1>
      <SearchForm />
    </aside>
    <!-- Most Recent Article -->
    <MostRecentArticle article={mostRecentArticle} />
  </section>

  <!-- Main Grid -->
  <section class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {otherArticles.map((article) => <ArticleCard article={article} />)}
  </section>
</MainLayout>
